@if (details !== null) {
<section>
    <div class="grid md:grid-cols-[30%_1fr] gap-x-5 items-center">
        <div>
            <img [src]="details.imageCover" [alt]="details.title">
            <div class="mt-5">
                <owl-carousel-o [options]="customSlider">
                    @for ( det of details.images ; track details._id) {
                    <ng-template carouselSlide>
                        <div>
                            <img [src]="det" class="h-32 w-full" [alt]="">
                            <h3 class="text-green-500"></h3>
                        </div>
                    </ng-template>
                    }
                </owl-carousel-o>
            </div>
        </div>
        <div>
            <h1>{{details.title}}</h1>
            <p class="my-5">{{details.description}}</p>
            <span>{{details.category.name}}</span>
            <div class="flex justify-between items-center">
                <span class="text-green-500 my-2">{{ details.price | currency : 'GBP'}}</span>
                <div class="flex items-center">
                    <i class="fas fa-star text-yellow-300"></i>
                    <span class="text-gray-500">{{details.ratingsAverage}}</span>
                </div>
            </div>
            <i (click)="addWishList(details.id,$event)" class="fas fa-heart cursor-pointer text-2xl"></i>
            <i (click)="addToCart(details.id,$event)" class="fas fa-cart-shopping cursor-pointer text-2xl ms-3"></i>
        </div>
    </div>
</section>
}