<footer class="bg-gray-100 py-10 dark:bg-gray-900">
    <div class="w-11/12 mx-auto">
        <h2 class="m-0 text-2xl text-black dark:text-gray-200">{{'footer.Get The FreshCart App'|translate}}</h2>
        <p class="text-black dark:text-gray-200 text-sm">
            {{'footer.We Will Send You a Link, Open it on Your Phone to download the app'|translate}}
        </p>
        <div class="flex items-center gap-3 text-nowrap">
            <input type="email" placeholder="Email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            <button type="button" class="btn-main">{{'footer.Share App Link'|translate}}</button>
        </div>
        <div class="md:flex justify-between items-center my-5">
            <div class="flex items-center gap-2">
                <h3 class="text-sm m-0 text-black dark:text-gray-200">{{'footer.Payment partners'|translate}}</h3>
                <img src="/images/amazon-pay.png" width="50px" alt="amazon-pay" />
                <img src="/images/American-Express-Color.png" width="50px" alt="American-Express-Color" />
                <img src="/images/paypal.png" width="50px" alt="paypal" />
                <img src="/images/mastercard.webp" width="50px" alt="mastercard" />
            </div>
            <div class="flex items-center gap-2">
                <h3 class="h6 m-0 text-black dark:text-gray-200">{{'footer.Get Deliveries with FreshCart'|translate}}
                </h3>
                <img src="/images/get-google-play.png" width="100px" alt="get-google-play" />
                <img src="/images/get-apple-store.png" width="100px" alt="get-apple-store" />
            </div>
        </div>
    </div>
</footer>