<section class="min-h-screen flex flex-col justify-center">
    <h2 class="text-4xl">Check Out:</h2>
    <form [formGroup]="checkOutForm">
        <label for="details" class="block mb-2 text-sm font-medium text-gray-900">details :</label>
        <textarea id="details" formControlName="details"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"></textarea>
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">phone :</label>
        <input type="tel" id="phone" formControlName="phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900">city :</label>
        <input type="text" id="city" formControlName="city"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        <div class="flex justify-end my-3 gap-x-3">
            <button type="submit" (click)="onlinePay()" class="btn-main">Online
                Payment</button>
            <button type="submit" (click)="cachPay()" class="btn-main">Cach
                Payment</button>
        </div>
    </form>
</section>